:root {
  --vh: 100lvh;

  // Font Family
  --font: "Inter", sans-serif;

  // Colors
  --accent-color: #029CFB;
  --dark-color: #333333;
  --light-color: #fff;
  --black-color: #000;
  --grey-color: #777777;
  --light-grey-color: #F3F5F7
}
