<div class="preloader">
	<div class="preloader-logo">
		<div class="preloader-logo_default">
			<img src="https://d3b6muno9lbfvx.cloudfront.net/aro-agent/files/logos/aro-logo.svg" alt="">
		</div>
		<div class="preloader-logo_loading">
			<img src="https://d3b6muno9lbfvx.cloudfront.net/aro-agent/files/logos/aro-logo.svg" alt="">
		</div>
	</div>

	<div class="preloader-bottom">
		<div class="preloader-line">
			<div class="preloader-line-loading"></div>
		</div>
		<div class="preloader-percent">
			<span>0</span>%
		</div>
	</div>
</div>